<div style="text-align:center">
  <h2>Kochen</h2>
  <div>
    <input #activityName />
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(activityName.value); activityName.value=''">
      +
    </button>
  </div>
  <ul class="cooking">
    <li *ngFor="let activity of activities">
        <span>
          {{activity.id}}
        </span>
        {{activity.name}}
      <button class="delete" title="delete activity"
      (click)="delete(activity)">x</button>
    </li>
  </ul>
</div>
