.grid-container1 {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    font-size: larger;
    font-family: Calibri;
}

.grid-container1-item {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    font-size: larger;
    font-family: Calibri;
}

.grid-container2-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container2-item2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-container2-item3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    font-size: larger;
    font-family: Calibri;
}

.grid-container3-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-container3-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-container3-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

@media only screen and (min-width: 500px)  {
    .grid-container {
        width: 400px;
        margin: auto;
    }
} 