.interactive-list-grid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    font-size: larger;
    font-family: Calibri;

    .cooking {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .accordion-title {
        font-weight: bold;
        color: black;
    }

    .activities-grid {
        display: grid;
        grid-template-columns: 10% 70% 20%;
        font-size: medium;
        font-family: Calibri;
    
        .activities-input {
            grid-column-start: 1;
            grid-column-end: 4;

            button {
                background-color: rgba(105, 178, 150, 0.6);
                border-color: rgba(105, 178, 150, 0.6);
                color: #fff;
                font-weight: bold;
            }
        }
        
        .activities-list {
            grid-column-start: 1;
            grid-column-end: 4;
        
            .activity-grid {
                display: grid;
                grid-template-columns: 10% 70% 20%;
                font-size: medium;
                font-family: Calibri;
                margin-top: 5px;
                background-color: rgba(105, 178, 150, 0.6);
                border-color: rgba(105, 178, 150, 0.6);
                color: #fff;
                font-weight: bold;
                    
                .activity-name {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    font-size: large;
                    text-align: left;
                    padding: .375rem .75rem;
                }
                
                .activity-button {
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
            }
        }
    }
}

@media only screen and (min-width: 500px)  {
    .interactive-list-grid {
        width: 500px;
        margin: auto;
    }
} 

