<div class="interactive-list-grid" style="text-align:center">
  <div class="cooking">
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Kochen">
        <ng-template ngbPanelContent>
          <div class="activities-grid" style="text-align:center">
            <div class="activities-input">
              <input #activityName />
            </div>
            <div class="activities-button-add">
              <!-- (click) passes input value to add() and then clears the input -->
              <button (click)="add(activityName.value); activityName.value=''">
                +
              </button>
            </div>
            <div class="activities-list">
              <div class="activity-grid" *ngFor="let activity of activities">
                <div class="activity-grid-id">
                  {{activity.id}}
                </div>
                <div class="activity-grid-name">
                  {{activity.name}}
                </div>
                <div class="activity-grid-button">
                  <button class="delete" title="delete activity"
                  (click)="delete(activity)">x</button>
                </div>
              </div>
            </div>            
          </div>          
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
